.requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.request-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 90%;
    gap: 0.8rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    gap: 0.4rem;
}

.info-container h3, .info-container h4 {
    margin: 0;
}

.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 20%;
    gap: 0.5rem;
}

.buttons-container button {
    width: 100%;
}

.green {
    background: #007200;
    border-color: #007200;
}

h2.blueText, h2.orangeText, h2.redText {
    margin-top: 0;
}

.blueText {
    color: #369;
}

.orangeText {
    color: #ffa503;
}

.redText {
    color: #ff0303;
}