/* Stylesheet for the application */

h1.title {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.8rem;
    font-size: 2.5rem;
}

.header-image img {
    display: block;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 200px;
    width: 100%;
}