<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/schematic.css" th:href="@{/css/schematic.css}" rel="stylesheet"/>
</head>

<body>
<div class="main-container">
    <ul th:replace="~{fragments :: header('Schematic Page', ~{::li.nav-bar-button})}">
        <li class="nav-bar-button">
            <a href="/" th:href="@{/}">Forside</a>
        </li>
        <li th:if="${#ctx.session.currentAccount.getRole() == 'CUSTOMER'}" class="nav-bar-button">
            <a href="/myorders" th:href="@{/myorders}">Mine ordrer</a>
        </li>
    </ul>

    <div class="main-content">
        <h1>Carport Schematic</h1>
        <div class="carport-svg-topview" th:utext="${svg}"></div>
    </div>

</div>

</body>
</html>
