<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="main-container">
<div th:replace="~{fragments :: header('Login', ~{::a.nav-bar-button})}">
    <a class="nav-bar-button" href="/" th:href="@{/}">Tilbage</a>
</div>



<a th:href="@{/carportSchematic}" href="carportSchematic.html">Vis Carport Schematic</a>

<h2>Byg en Carport med fladt tag!</h2>
<p>Med et specialudviklet computerprogram kan vi lynhurtigt
    beregne prisen og give dig et tilbud på din forespørgsel. Ved bestilling medfølger standardbyggevejledning.

    Udfyld formularen omhyggeligt og klik på "Bestil tilbud".</p>

<form th:action="@{/addtobasket}" method="post">
    <div class="dropdown">

        <select name="amount-option">
            <option value="" disabled selected>Carport Bredde:</option>
            <option th:each="amount: ${#numbers.sequence(1, 12)}" th:value="${240 + amount * 30}"
                    th:text="${240 + amount * 30}">Amount
            </option>
        </select>

        <select name="amount-option">
            <option value="" disabled selected>Carport Længde:</option>
            <option th:each="amount: ${#numbers.sequence(0, 18)}" th:value="${240 + amount * 30}"
                    th:text="${240 + amount * 30}">Amount
            </option>
        </select>
    </div>

    <input class="input-large" type="text" name="taskname" placeholder="Evt. bemærkninger.. "/>

    <div class="button-container">
        <button class="addtocart" type="submit" formaction="addtocart">Forsæt</button>
    </div>
</form>

</div>

</body>
</html>
