<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>
</head>

<body>
<div class="main-container">
    <ul th:replace="~{fragments :: header('Frontpage', ~{::li.nav-bar-button})}">
        <li class="nav-bar-button">
            <a href="/myorders" th:href="@{/myorders}">Mine ordrer</a>
        </li>
    </ul>

    <div class="main-content">
        <h2>Byg en Carport med fladt tag!</h2>
        <p>Med et specialudviklet computerprogram kan vi lynhurtigt
            beregne prisen og give dig et tilbud på din forespørgsel. Ved bestilling medfølger standardbyggevejledning.

            Udfyld formularen omhyggeligt og klik på "Bestil tilbud".</p>

        <form th:action="@{/continuerequest}" method="post">
            <div class="dropdown">

                <select name="width-option" required>
                    <option value="" disabled selected>Carport bredde:</option>
                    <option th:each="amount: ${#numbers.sequence(0, 12)}" th:value="${240 + amount * 30}"
                            th:text="${240 + amount * 30}">Amount
                    </option>
                </select>

                <select name="length-option" required>
                    <option value="" disabled selected>Carport længde:</option>
                    <option th:each="amount: ${#numbers.sequence(0, 18)}" th:value="${240 + amount * 30}"
                            th:text="${240 + amount * 30}">Amount
                    </option>
                </select>
            </div>

            <input class="input-large" type="text" name="taskname" placeholder="Evt. bemærkninger.. "/>

            <div class="button-container">
                <button type="submit" formaction="continuerequest">Forsæt</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
